{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "plugins": ["eslint-plugin-import-helpers"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./backend/tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "max-classes-per-file": "off",
    "no-useless-constructor": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "camelcase":"off",

    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",

    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],

    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always", // new line between groups
        "groups": ["/^@/", "module", "/shared/", "/.json$/", "/.(svg|gif|jpe?g|png)$/", "/.(s?css|sass)$/", ["parent", "sibling", "index"]],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ]
  }
}
